name: pre-release
on:
  workflow_dispatch:
#  push:
#    branches:
#      - master
#    paths:
#      - "src/**"
#      - "!src/**/*.json"
#      - "build.mjs"
#    tags-ignore:
#      - "v*"

permissions:
  id-token: "write"
  contents: "write"

jobs:
  build_and_release:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 20
      - run: npm ci
      - run: npm run build

      - uses: josStorer/get-current-time@v2
        id: current-time
        with:
          format: YYYY_MMDD_HHmm

      - uses: actions/upload-artifact@v4
        with:
          name: Chromium_Build_${{ steps.current-time.outputs.formattedTime }}
          path: build/chromium/*

      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            build/chromium.zip
